* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 600px;
    font-family: sans-serif;
    border: solid 2px lightgray;
}

.debug {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    width: 800px;
    min-width: 200px;
    margin-bottom: 40px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 13px;
}

/* buttons in header*/
header .period {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.period button {
    border: none;
    background-color: white;
}

/*cells*/
.cell {
    height: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*boxes*/
.cell .box-1,
.box-2,
.box-3 {
    min-height: 200px;
    max-height: 450px;
    min-width: 250px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    border-radius: 20px;
    font-size: 12px;
    flex-shrink: 0;
}

.box-1 {
    border: solid 2px lightgray;
}

.box-3 {
    border: solid 2px lightgray;
}

.box-2 {
    color: white;
    background-color: #6500ff;
}

.price {
    display: flex;
    justify-content: center;
}

.cost {
    font-size: 40px;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.percentual {
    display: flex;
    justify-content: center;
}

.percentual button {
    border: none;
    padding: 6px;
    border-radius: 6px;
}

.choose-plan {
    display: flex;
    justify-content: center;
}

.box-1 .choose-plan button {
    border: none;
    background-color: #6500ff;
    color: white;
    padding: 15px 40px;
    margin: 0 50px;
    border-radius: 10px;
}

.box-2 .choose-plan button {
    border: none;
    background-color: white;
    margin: 0 50px;
    padding: 15px 40px;
    border-radius: 10px;
}

.box-3 .choose-plan button {
    border: none;
    background-color: #6500ff;
    color: white;
    margin: 0 50px;
    padding: 15px 40px;
    border-radius: 10px;
}

/*lists*/
ul {
    list-style-type: none;
}

ul {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

li {
    display: flex;
    justify-content: start;
}

li svg {
    margin-right: 10px;
}

.cell {
    flex: 1 0 0 calc((100% - 40px) / 3);
}

.cell .box-3 {
    flex-grow: 1;
}


