* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 700px;
    font-family: sans-serif;
}

.debug {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    margin-bottom: 40px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 13px;
}

/*buttons in header*/
header .period {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

/*buttons in header*/
.period button {
    border: none;
    background-color: white;
}

/*cells in main*/
.cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/*.box {
    flex-basis: calc(50% / 3 - (10px * 2) / 3);
}*/

/*3 boxes in cells*/
.box {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    border-radius: 20px;
    font-size: 12px;
    flex-grow: 1;
}

/*light and dark boxes*/
.box-light {
    border: solid 2px lightgray;
}

.box-dark {
    color: white;
    background-color: #6500ff;
}

/*responsive design*/
@media (max-width: 628px) {
    .box-dark {
        order: -1;
    }
}

/*content in boxes*/
.price {
    text-align: center;
}

/*costs in part prices*/
.cost {
    font-size: 40px;
}

/*plans in boxes*/
.plan {

    display: block;
    text-align: center;

}

/*percentuals in part plans*/
.percentual {
    margin-bottom: 10px;
    text-align: center;
}

/*buttons in percentuals*/
.percentual button {
    border: none;
    padding: 6px;
    border-radius: 6px;
}

/*chooses in part plans*/
.choose {
    margin-bottom: 10px;
    text-align: center;
}

/*buttons in chooses in light boxes*/
.box-light .choose button {
    border: none;
    background-color: #6500ff;
    color: white;
    padding: 15px 40px;
    margin: 0 50px;
    border-radius: 10px;
}

/*buttons in chooses in dark boxes*/
.box-dark .choose button {
    border: none;
    background-color: white;
    margin: 0 50px;
    padding: 15px 40px;
    border-radius: 10px;
}

/*titles in boxes*/
h5 {
    font-weight: normal;
}

/*lists*/
ul {
    list-style-type: none;
}

ul {
    margin: 10px 30px;
    display: block;
    text-align: left;
}

li {
    margin: 10px;
}

li svg {
    margin-right: 10px;
}